<%- include ("./partials/header") %>
<h1>Specific Blog</h1>
<div class="card" style="width: 18rem;">
    <div class="card-body">
        <img src="<%=blog.source%>" class="card-img-top" alt="Blog post with image.">
        <h4> <%=blog.name%> </h4>
        <h4> <%=blog.year%> </h4>
        <h4> <%=blog.medium%> </h4>
        <% if (blog.comments.length <= 0) { %>
        <em>There are no comments on this blog.</em> 
    <% } else { %>
        <% blog.comments.forEach((comment) => { %>
            <h5> <%=comment.text%> </h5>
    <em><%= moment(Date()).format(shortDateFormat) %></em>
        
            <form id="delete-form" action="/blog/<%=blog._id%>/comments/<%=comment._id%>?_method=DELETE" method="POST">
                <input type="submit" value="Delete Comment">
            </form>
        <% }) }%>
    </div>
    <a href="/comments/<%= blog._id %>">Leave a Comment!</a>
    <form id="delete-form" action="/blog/<%=blog._id%>?_method=DELETE" method="POST">
        <button>Delete Blog</button>
    </form>
  </div>
  <p> <%=blog.description%> </p>
  <a href="/edit_blog/<%=blog._id %>">Edit this blog</a>
  


<%- include ("./partials/footer") %>