<%- include ("./partials/header") %>
<div class="container">
    <div class="blog" >

        <div class="blog_info">
            <h3>"<%=blog.name%>" </h3>
            <h4><%=blog.medium%> - <%=blog.year%> </h4>
            <p > <%=blog.description%> </p>
            <% if (currentUser && blog.author.id.equals(currentUser._id)) { %> 
            <a href="/edit_blog/<%=blog._id %>">Edit this blog</a>
            <form id="delete-form" action="/blog/<%=blog._id%>?_method=DELETE" method="POST">
                <button id='del-blg-btn' class="btn btn-outline-danger">Delete Blog</button>
            </form>
            <% } %>
        </div>

        <div class="blog_img">
            <img src="<%=blog.source%>" alt="Blog post with image.">
            <div class="comment">
            <% if (blog.comments.length <= 0) { %>
            <em>There are no comments on this blog.</em> 
                <% } else { %>
            <% blog.comments.forEach((comment) => { %>
            <h4 id="commentText"> <%=comment.text%> </h4>
            <p id="submitted">Submitted by <em id="userName"><%=comment.author.username%></em></p>
            <p id="submitDate">On <%=comment.date.toLocaleString()%></p>
            <% if (currentUser && comment.author.id.equals(currentUser._id)) { %> 
            <form id="delete-form" action="/blog/<%=blog._id%>/comments/<%=comment._id%>?_method=DELETE" method="POST">
                 <button class="btn btn-outline-danger"><i class="fas fa-trash"></i></button>
            </form>
            <hr>
            <% } %>
             <% })} %>
            <a type="button" class="comment_btn btn btn-outline-dark"href="/comments/<%= blog._id %>">Leave a Comment!</a>
            </div>
        </div>
    </div>
</div>

<%- include ("./partials/footer") %>