<%- include ("./partials/header") %>
<h1>Leave a Comment! (new)</h1>
<div class="card" style="width: 18rem;">
    <img src="<%=blog.source%>" class="card-img-top" alt="Blog post with image.">
    <div class="card-body">
      <h4 class="card-title"><%=blog.name%></h4>
      <h5 class="card-title"><%=blog.year%></h5>
      <h5 class="card-title"><%=blog.medium%></h5>
      <h5 class="card-title"><%=blog.comment%></h5>
</div>
  </div>
  <form action="/comments/<%= blog._id %>" method="POST" id="post-form">
    <input placeholder="Thoughts?" type="text" name="comment[text]"/><button type="submit" form="post-form">Post</button>
    
</form>

  

<%- include ("./partials/footer") %>