<%- include ("./partials/header") %>
<div class="container">
    <h1 style="text-align: center">Edit a post.</h1>
        <div style="width:10%; margin: 30px auto;">
            <form action="/blogs/<%=foundBlog._id%>?_method=PUT" method="POST">
                <input value="<%=foundBlog.name%>" type="text" name="blog[name]"/>
                <input value="<%=foundBlog.year%>" type="text" name="blog[year]"/>
                <input value="<%=foundBlog.medium%>" type="text" name="blog[medium]"/>
                <input value="<%=foundBlog.source%>" type="text" name="blog[source]"/>
                <input value="<%=foundBlog.description%>" type="textarea" name="blog[description]"/>
                <div class="form-group">
                    <button type="submit">Post</button>
                </div>
                
            </form>
            
        </div>
</div>
<%- include ("./partials/footer") %>