<%- include ("./partials/header") %>
<h1>Thank you for visiting!</h1>
<% blogs.forEach(function(blog) { %>
    <h4> <%=blog.name%> </h4>
    <h4> <%=blog.year%> </h4>
    <h4> <%=blog.medium%> </h4>
    <img src="<%=blog.source%>" />
    <h4> <%=blog.description%> </h4>
    <% }) %>
<%- include ("./partials/footer") %>