<%- include ("./partials/header") %>
<h1>View all of my posts.</h1>
<% blogs.forEach(function(blog) { %>
    <img width="300px" src="<%=blog.source%>" />
    <h4> <%=blog.name%> </h4>
    <h4> <%=blog.year%> </h4>
    <h4> <%=blog.medium%> </h4>
    <h4> <%=blog.description%> </h4>
    <% }) %>
    
<%- include ("./partials/footer") %>