<%- include ("./partials/header") %>
<h1>This is the landing page.  Enjoy it.</h1>

<% newest.forEach(function(newest) { %>

   <img width="300px" src="<%=newest.source%>" />
    <h4> <%=newest.name%> </h4>
    <h4> <%=newest.year%> </h4>
    <h4> <%=newest.medium%> </h4>
    <h4> <%=newest.description%> </h4>
    
    <% }) %>

<%- include ("./partials/footer") %>