<%- include ("./partials/header") %>
<h1>Most recent post.</h1>
<div class="card" style="width: 18rem;">
    <div class="card-body">
        <img src="<%=newest[0].source%>" class="card-img-top" alt="Blog post with image.">
        <h4> <%=newest[0].name%> </h4>
        <h4> <%=newest[0].year%> </h4>
        <h4> <%=newest[0].medium%> </h4>
        <h4> <%=newest[0].description%> </h4>
    </div>
  </div>
<%- include ("./partials/footer") %>